<section class="confirmationBox" id="popup">
  <div class="confirmationContainer">
    <a class="confirmIcon"><i class="fa-solid fa-check"></i></a>
    <h1 class="confirmationText">Order Confirmation</h1>
    <p class="confirmationOrderWish">We hope you enjoy your food!</p>
    <div id="confirmedCartItems"></div>
    <div class="Total_order">
      <h2 class="Total_order_text">Total Order</h2>
      <h2 id="totalBill">$00.00</h2>
    </div>
    <button
      class="confirm_button"
      onclick="closeConfirmationBox(), window.location.reload()"
    >
      Start New Order
    </button>
  </div>
</section>
