<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup Form</title>
    <link rel="stylesheet" href="/static/index.css?{% now "U" %}" />
  </head>
  <body>
    <div class="login-container">
      <h2>Signup Form</h2>
      <form action="#" method="POST">
        {% csrf_token %} {% if messages %}
        <div>
          {% for message in messages %}
          <p class="{% if message.tags %}{{ message.tags }}-message{% endif %}">
            {{ message }}
          </p>
          {% endfor %}
        </div>
        {% endif %}
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required />
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />
        </div>
        <div class="form-group">
          <label for="password">Confirm Password:</label>
          <input
            type="password"
            id="confirm_password"
            name="confirm_password"
            required
          />
        </div>
        <button class="login-button" type="submit">Sign Up</button>
        <button
          class="login-button"
          onclick="window.location.href='{% url 'login' %}'"
        >
          Login
        </button>
        <button
          class="login-button"
          onclick="window.location.href='{% url 'dashboard' %}'"
        >
          Home
        </button>
      </form>
    </div>
  </body>
</html>
